<li [ngClass]="{
    'list-group-item': true,
    'w-50' : true,
    'list-group-item-info': post.loveIts == 0,
    'list-group-item-success': post.loveIts > 0,
    'list-group-item-danger': post.loveIts < 0
    }">
    <h3 class="card-title text-right">{{post.created_at | date: 'short' }}</h3>
    <h1>{{post.title}}</h1>
    <p class="card-text">{{post.content}}</p>
    <p class="card-text">Score : {{post.loveIts}}</p>
    <button (click)="onLove(true)" type="button" class="btn btn-success">Love it!</button>
    <button (click)="onLove(false)" type="button" class="btn btn-danger">Dont'love it!</button>
</li>
